@import url("/css/services/mobile.css");
@import url("/css/services/tablet.css");
@import url("/css/services/desktop.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,800;0,900;1,200;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
