/* MOBILE */
@media (min-width: 200px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .about,
  .testimonials,
  .icons,
  .icons > article, 
  .services {
    display: flex;
    flex-direction: column;
  }

  /* TESTIMONIALS */
  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20vh;
    padding-bottom: 20vh; 
  }

  .testimonials > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 90%;
    row-gap: 5vh;
  }

  .testimonials h3 {
    color: deepskyblue;
    font-size: 26px;
  }

  .testimonials figure {
    height: 25vh;
    width: 100%;
  }

  .testimonials section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    width: 80%;
    height: 100vh;
    color: dimgray;
  }

  .testimonials img {
    width: 100%;
    height: 25vh;
  }

  .testimonials > aside {
    background-color: gray;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 10%;
    height: 45vh;
    color: white;
  }

  /* ICONS */
  .icons > article {
    row-gap: 3vh;
    align-items: center;
  }

  .icons aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    width: 90%;
    row-gap: 7vh;
    height: 55vh;
  }

  .icons p {
    width: 85%;
    font-size: 17px;
    text-align: center;
    color: dimgray;
  }

  .icons i {
    font-size: 40px;
    color: gray;
  }
  
  /* CONTACT */
  .contact {
    row-gap: 7vh;
    align-items: center;
    padding-bottom: 30vh;
  }

  .contact > article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact h3 {
    padding-bottom: 2vh;
    color: gray;
    font-size: 22px;
    font-weight: 500;
  }

  .contact h6 {
    width: 40%;
    border: 1px solid dodgerblue;
  }

  .contact form {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    width: 70%;
  }

  select,
  .contact input {
    padding: 4%;
    border: 1px solid lightgray;
  }

  textarea {
    height: 20vh;
    resize: none;
    border: 1px solid lightgray;
    padding-left: 5%;
    padding-top: 5%;
  }

  [type="submit"] {
    width: 40%;
    background-color: deepskyblue;
    color: whitesmoke;
    align-self: center;
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    color: dimgray;
    height: 20vh;
    row-gap: 4vh;
  }

  footer > section {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding-left: 3%;
  }

  footer span {
    color: deepskyblue;
  }

  footer > article {
    display: flex;
    justify-content: center;
    column-gap: 3vh;
  }

  footer i {
    color: gray;
    font-size: 20px;
  }

}