@media (min-width:200px){
    main,
    footer,
    body,
    main > section,
    section > .gallery{
        display: flex;
        flex-direction: column;
    }
    body{
        align-items: center;
    }
    footer{
        padding: 13vh 0 9vh 0;
        width: 85%;
        row-gap: 7vh;
        
    }

    img{
        width: 15%;
    }
    /*footer*/

    footer p{
        line-height: 1.5;
        color: grey;
        font-size: 18px;
    }

    footer span{
        color: darkblue;
    }
    footer a{
        text-decoration: none;
        color: darkgrey;
        font-size: 30px;
    }
    footer ul{
        display: flex;
        justify-content: end;
        column-gap: 3vh;
    }
    footer li{
        list-style: none;
    }
    /*footer ends */
    /* gallery */
    .gallery > a{
        color: white;
        background-color: blue;
        width: 35%;
        padding: 4%;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
    }
    .gallery{
        align-items: center;
    }
}