@media (min-width:200px){
    main,
    footer,
    body{
        display: flex;
        flex-direction: column;
    }
    body{
        align-items: center;
    }
    footer{
        padding: 14vh 0 10vh 0;
        width: 85%;
        row-gap: 7vh;
        
    }

    img{
        width: 15%;
    }

    footer p{
        line-height: 1.5;
        color: grey;
        font-size: 18px;
    }

    footer span{
        color: darkblue;
    }
    footer a{
        text-decoration: none;
        color: darkgrey;
        font-size: 30px;
    }
    footer ul{
        display: flex;
        justify-content: end;
        column-gap: 3vh;
    }
    footer li{
        list-style: none;
    }
}